{{define "title"}}Aircraft Search{{end}} {{define "main"}}

<div class="search_container">
    <div class="aircraft_image">
        {{ range .JetPhotos.Images }}
        <div class="aircraft_image">
            <a href="{{.Link}}" target="_blank">
                <img src="{{.Thumbnail}}" />
            </a>
            <div class="caption_container">
                <div class="author_date_caption">
                    <div>{{.Photographer}}</div>
                    <div>{{.DateTaken}}</div>
                </div>
                <div>{{.Location}}</div>
            </div>
        </div>
        {{ end }}
    </div>
    <div class="info_container">
        <h1 class="reg">{{.JetPhotos.Reg}}</h1>
        {{with .FlightRadar}}
        <h2>Aircraft</h2>
        <p>{{.Aircraft}}</p>

        <h2>Airline</h2>
        <p>{{.Airline}}</p>

        <h2>Type Code</h2>
        <p>{{.TypeCode}}</p>

        <h2>Latest Flights</h2>
        <table>
            <tr>
                <th>Date</th>
                <th>Flight</th>
                <th>From</th>
                <th>To</th>
            </tr>
            {{range .Flights}}
            <tr>
                <th>{{.Date}}</th>
                <th>{{.Flight}}</th>
                <th>{{.From}}</th>
                <th>{{.To}}</th>
            </tr>
            {{end}}
        </table>
        {{end}}
    </div>
</div>

{{end}}
