{{define "title"}}Documentation{{end}}

{{define "main"}}
<h1>Documentation</h1>
<h2>Request</h2>
<p>Base URL: <a href="/">http://jetapi.xyz</a></p>
<table class="lighter">
   <tr >
       <th>API</th>
       <th>API Method</th>
   </tr> 
   <tr>
       <th>Photos and Flight Information</th>
       <th>/api</th>
   </tr>
</table>

<h2>Request Parameters</h2>
<table>
    <tr>
        <th>Parameter</th>
        <th></th>
        <th>Description</th>
    </tr>
    <tr>
        <th>reg</th>
        <th>Required</th>
        <th>Aircraft Registration</th>
    </tr>
    <tr>
        <th>photos</th>
        <th>Optional</th>
        <th>
            Latest Photos
            <br>
            Default: 3
            <br>
            Max: 20
        </th>
    </tr>
    <tr>
        <th>flights</th>
        <th>Optional</th>
        <th>
            Latest Flights
            <br>
            Default: 20
            <br>
            Max: 20
        </th>
    </tr>
</table>
<p class="message">See the <a href="/querybuilder">Query Builder</a> to interactively create a query for the API.</p>
{{end}}
