{{define "title"}}Home{{end}} {{define "main"}}

<h2>Latest</h2>
<p>
    JetAPI is a lightweight and customizable API that provides aircraft
    information in JSON format by scraping publicly available data. Currently,
    it sources images and flight details from
    <a href="https://www.JetPhotos.com">JetPhotos</a> and
    <a href="https://www.FlightRadar24.com">FlightRadar24</a>.
</p>
<div class="empty_line"></div>
<p>
    Refer to the <a href="/documentation">documentation</a> to learn how to
    structure a query. You can also use the
    <a href="/querybuilder">Query Builder</a> to build a query and preview its
    JSON structure.
</p>
<div class="empty_line"></div>
<p>
    The general search in the top right shows how data from the API is used to
    generate a simple page with details about a specific aircraft.
</p>

{{end}}
