{{define "title"}}Home{{end}}

{{define "main"}}
<h2>Latest Things</h2>
<p>JetAPI is an API that scrapes information about aircraft and delivers a lightweight and customizable JSON. For now, the API scrapes from <a href="https://www.JetPhotos.com">JetPhotos</a> and <a href="https://FlighRadar24.com">FlightRadar24</a> for pictures and flight information.
</p>
<div class="empty_line"></div>
<p>
See the <a href="\documentation">documentation</a> to learn how to structure a query. You can see what a query will look like using the <a href="\querybuilder"> Query Builder</a> to create a query and show the structure of the JSON.
</p>
<div class="empty_line"></div>
<p>
The general search in top right demonstrates how the information from the API is used to create a very simple page with information about a specific aircraft. 

</p>
{{end}}
